{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<form class="form-horizontal" method="post" role="form">
            {{form.hidden_tag()}}
		    <div class="form-group">
				<label class="col-sm-2 control-label">Window size</label>
				<div class="col-sm-3">
                    {{form.window_width(class="form-control")}}
				</div>
                <p class="help-block col-sm-1">Width (m)</p>
				<div class="col-sm-3">
                    {{form.window_height(class="form-control")}}
                </div>
                <p class="help-block col-sm-1">Height (m)</p>
		    </div>
		    <div class="form-group">
				<label for="roomArea" class="col-sm-2 control-label">Room area</label>
				<div class="col-sm-7">
				    {{form.area(class="form-control")}}
				</div>
                <p class="help-block col-sm-2">m<sup>2</sup></p>
		    </div>
		    <div class="form-group">
				<label for="windowDirection" class="col-sm-2 control-label">Window direction</label>
				<div class="col-sm-7">
                    {{form.window_direction(class="form-control")}}
				</div>
		    </div>
		    <div class="form-group">
				<label for="roomDraft" class="col-sm-2 control-label">Room draft</label>
				<div class="col-sm-7">
                    {{form.draft(class="form-control")}}
				</div>
				<p class="help-block">(Recommended 0.2 m/s)</p>
		    </div>
		    <div class="form-group">
				<label for="windowHinge" class="col-sm-2 control-label">Window hinge</label>
				<div class="col-sm-7">
                    {{form.window_hinge(class="form-control")}}
				</div>
		    </div>
		    <div class="form-group">
		    	<label for="enginepower" class="col-sm-2 control-label">Motor torsion</label>
		    	<div class="col-sm-7">
		    		{{ form.enginepower(class="form-control") }}
		    	</div>
		    	<p class="help-block">Nm</p>
			</div>
		    <div class="form-group">
				<div class="col-sm-offset-2 col-sm-7">
			        <button type="submit" class="btn btn-primary">Save configuration</button>
                </div>
			</div>
		</form>
	</div>
{% endblock %}
