{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel-group" id="status-panel">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#status-panel" href="#collapse-status">
									Status Open Manual Timed
									<span class="pull-right"><i class="fa fa-plus"></i></span>
								</a>
							</h4>
						</div>
						<div id="collapse-status" class="panel-collapse collapse in">
							<div class="panel-body">
								<ul>
									<li>Wind speed 32 m/s</li>
									<li>Wind direction North East</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h3>Timer</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">

			</div>
			<div class="col-md-6">
				
			</div>
		</div>
	</div>
{% endblock %}