{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="status-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#status-panel" href="#collapse-status">
                                    <span style="margin-right:10px">Status</span> 
                                    {% if not state.auto %}
                                        <span style="font-weight:300;" class="alert-danger">Manual mode</span>
                                    {% else %}
                                        <span style="font-weight:300;" class="alert-info">Auto mode</span>
                                    {% endif %}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-status" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul>
                                    <li>Temp: <span id="temp">{{temp}}</span>&deg;C</li>
                                    <li>Humidity: <span id="humidity">{{humidity}}</span>%</li>
                                    <li>Wind: <span id="wind-speed">{{wind.speed}}</span> m/s (<span id="wind-deg">{{wind.angle}}</span>&deg;)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 clearfix">
                {% if state.open %}
                    <p class="lead pull-left">Your window is open{% if time %} (will close <b>{{time}}</b>) {% endif %}.</p>
                    <a href="/api/open-close/" class="btn btn-primary pull-right closes">Close</a>
                {% else %}
                    <p class="lead pull-left">Your window is closed.</p>
                    <a href="/api/open-close" class="btn btn-primary pull-right opens">Open</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h3>Timer</h3>
                </div>
            </div>
        </div>
        <form role="form" action="api/set-timer/" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="hours">Hours</label>
                        <select name="hours" id="hours" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="minutes">Minutes</label>
                        <select name="minutes" id="minutes" class="form-control">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary {% if not state.open %}opens{% endif %}">Set timer {% if not state.open %} and open window {% endif %}</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h3>Mode</h3>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:30px;">
            <div class="col-md-12">
                {% if state.auto %}
                    <p class="lead">You are currently in <b>Auto Mode</b></p>
                    <a href="/api/mode/manual" class="btn btn-danger">Switch to manual</a>
                {% else %}
                    <p class="lead">You are currently in <b>Manual Mode</b></p>
                    <a href="/api/mode/auto" class="btn btn-primary">Switch to auto</a>
                {% endif %}
            </div>
        </div>

    </div>
    <script>
        $(function () {

            // Generate 12 hour option boxes
            for(var h=0; h < 13; h++) {
                var option = document.createElement('option');
                option.setAttribute('value', h);
                option.appendChild(document.createTextNode(h + ' hours'));
                $('#hours').append(option);
            }

            // Generate 60 minutes option boxes
            for(var m=0; m < 60; m+=5) {

                var option = document.createElement('option');
                option.setAttribute('value', m);
                option.appendChild(document.createTextNode(m + ' minutes'));
                $('#minutes').append(option);
                if(m == 0) {
                    var option = document.createElement('option');
                    option.setAttribute('value', 1);
                    option.appendChild(document.createTextNode(1 + ' minute'));
                    $('#minutes').append(option);
                }
            }

            $('.opens').click(function(e){
               $(e.target).html('Opening...');
               $(e.target).attr('disabled', true);
            });

            $('.closes').click(function(e){
               $(e.target).html('Closing...');
               $(e.target).attr('disabled', true);
            });

        });
        setInterval(function() {
            $.getJSON("http://{{SERVICE_URL}}/api/weather_data").done(function(windData){
                $("#temp").html(windData.temp);
                $("#humidity").html(windData.humidity);
                $("#wind-speed").html(windData.wind.speed);
                $("#wind-deg").html(windData.wind.angle);
            });
        }, 3000)
    </script>
{% endblock %}