{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel-group" id="status-panel">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#status-panel" href="#collapse-status">
									Status Open Manual Timed
									<span class="pull-right"><i class="fa fa-plus"></i></span>
								</a>
							</h4>
						</div>
						<div id="collapse-status" class="panel-collapse collapse in">
							<div class="panel-body">
								<ul>
									<li>Wind speed 32 m/s</li>
									<li>Wind direction North East</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 clearfix">
				{% if state.open %}
					<p class="lead pull-left">Your window is open.</p>
					<a href="/api/open-close/" class="btn btn-danger pull-right">Close</a>
				{% else %}
					<p class="lead pull-left">Your window is closed.</p>
					<a href="/api/open-close" class="btn btn-success pull-right">Open</a>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h3>Timer</h3>
				</div>
			</div>
		</div>
		<form role="form" action="#" method="post">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="hours">Hours</label>
						<select id="hours" class="form-control">
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="minutes">Minutes</label>
						<select id="minutes" class="form-control">
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<input type="submit" class="btn btn-primary" value="Set timer" />
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h3>Mode</h3>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom:30px;">
			<div class="col-md-12">
				{% if state.auto %}
					<p class="lead">You are currently in <b>Auto Mode</b></p>
					<a href="/api/mode/manual" class="btn btn-danger">Switch to manual</a>
				{% else %}
					<p class="lead">You are currently in <b>Manual Mode</b></p>
					<a href="/api/mode/auto" class="btn btn-danger">Switch to auto</a>
				{% endif %}
			</div>
		</div>

	</div>
	<script>
		$(function () {

			// Generate 12 hour option boxes
			for(var h=1; h < 13; h++) {
				var option = document.createElement('option');
		        option.setAttribute('value', h);
		        option.appendChild(document.createTextNode(h + 'h'));
				$('#hours').append(option);
			}

			// Generate 60 minutes option boxes
			for(var m=1; m < 60; m++) {
				var option = document.createElement('option');
		        option.setAttribute('value', m);
		        option.appendChild(document.createTextNode(m));
				$('#minutes').append(option);
			}
		});
	</script>
{% endblock %}